<div class="row align-items-start border rounded p-3 mt-3">
    <div class="col-md-5">
        <img class="card-img-top ihar-img ihar-cursor" src=@($"{UserService.BaseUrl}/ItemsPictures/{Item.IdItemPicture}")>
    </div>
    <div class="col-md-7">
        <h2 class="card-title">@Item.ItemTypeName / @Item.ItemClassName</h2>
        <h1 class="card-title" style="@StyleHelper.GetRarityColor(Item.Rarity)">@Item.ItemSubClassName | @Item.SkinName</h1>
        <hr>
        @if (Item.ItemsTypeCharacteristics.Any())
        {
            @foreach (var typechar in Item.ItemsTypeCharacteristics)
            {
                <h3>@typechar.TypeCharacteristicName: @typechar.TypeCharacteristicValue</h3>
            }
            <hr/>
        }
        @if (Item.ItemsClassCharacteristics.Any())
        {
            @foreach(var classchar in Item.ItemsClassCharacteristics)
            {
                <h3>@classchar.ClassCharacteristicName: @classchar.ClassCharacteristicValue</h3>
            }
            <hr/>
        }
    </div>
</div>

@code {
    [Parameter]
    public ItemDetailedReadDto Item { get; set; }
}